<% if params[:action] == "new" %>
	<%= form_for([@project, @project.pages.build]) do |f| %>
		<div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% else %>
	<%= form_for([@project, @page]) do |f| %>
		<div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% end %>
