<h1>App Salamander</h1>
<% if current_user.present? %>
  <%= image_tag(current_user.image_url,:size => "100x100", :alt =>'No image' ,:style =>"float:right;")%>
<% end %>
<div id="signup" style="display:none;">
  <%= simple_form_for(Page.new) do |f| %>
    <div class="form-inputs">
      <%= f.input :name, :label => 'App Name', :class => "text ui-widget-content ui-corner-all" %>
    </div>

    <div>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<div>
  <span>
    <%= link_to image_tag('default.png'), 'javascript:void(0);', :onclick => "javascript:$( '#signup' ).dialog( 'open' )"%>
  </span>
</div>
<br/>
<br/>
<% if @pages.count > 0 %>
  <h1>My Apps</h1>
<% end %>
<div id="canvas">
  <% @pages.each do |page| %>
    <div style="width:145px;float:left;margin-left:35px;">
      <%= link_to image_tag('delete.png', :style => 'position: relative; top:14px; left:14px;float:right;'), page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %>
      <script type="text/javascript">
        wsr_snapshot('<%= page_url(page) %>', 'M79FaWp0Rm35', 's');
      </script>
      <br/>
        <div style="text-align:center"><%= page.name %></div>
    </div>
  <% end %>
</div>
<br />
<script type="text/javascript">
  $(document).ready(function() {
    $('#canvas a').each(function() {
      $(this).attr('onmousedown', '');
      $(this).attr('target', '');
    })
  });  

  $( "#signup" ).dialog({
    autoOpen: false,
    height: 180,
    width: 250,
    modal: true
  });

  
</script>