<%= link_to "SALAMANDER", root_path, :class => 'brand' %>
<div class="dropdown">
  <a class="account" >
    <span>My Account</span>
  </a>
  <div class="submenu" style="display: none; ">
    <ul class="root">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Apps', pages_path %>
        </li>
        <li>
          <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
        <% if current_user.has_role? :admin %>
          <li>
            <%= link_to 'Edit users', users_path %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
